body {
    margin: 0;
}

.header {
    background-color: #181818;
}

.header__main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.header__nav {
    margin: 0 149px 0 120px
}

.header__nav a {
    text-decoration: none;
    color: #fff;
    font-family: RobotoM, sans-serif;
    margin-right: 31px;
    letter-spacing: 0.2px;
}

.header__nav a:hover {
    color: gray;
}

.header__texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 50px 0;
    margin: 35px 0 35px 0;
}

.header__texts-title,
.header__texts-subtitle {
    color: #fff;
    margin: 0;
    padding: 10px;
    width: 40%;
    text-align: center;
}

.header__texts-title {
    font-size: 80px;
    height: 196px;
    font-family: RobotoM, sans-serif;
}

.header__texts-subtitle {
    font-size: 20px;
    height: 80px;
    font-family: RobotoL, sans-serif;
    margin-top: 17px;
}

.header__buttons {
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

.header__first-button {
    margin-right: 35px;
}

.header__image {
    margin-top: 35px;
    display: flex;
    justify-content: center;
}